 .box {
   width: 250px;
    height:250px;
     z-index: 5;
     border:2px solid red
 }

 .hover {
  transition: ease-in-out;
  z-index: 0; 
  margin-top: -10px;
  margin-left: -10px;

  width: 150px ; 
  height: 150px;
  float: right;
   border: 2px solid blue
  }

 